@import "styles/app";

.backgroundImage {
  background-image: url('../../public/images/e-commerce/login/bg.svg');
  background-size: cover;
}

.button {
  padding: 14px 70px!important;
  @media (max-width: 1280px) {
    padding: 14px 37px!important;
  }
}

.formGroup {
  position: relative;
}

.viewPassword {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 36px;
}

.footer {
  margin-top: 180px;

  & > a {
    margin-right: 15px;
  }
}
